{%extends 'base.html'%}
{% block title %}
    Register Page 
{% endblock %}

{% block content%}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://i5.walmartimages.com/asr/47a61a19-e5b3-4b76-b3b0-5efdf411aa31.9e4586784670addccf7bc5da33b4a76f.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
            width="100px"
            height="100px">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>


            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}